body {
    background-color: darkslategray;
    color: white;
}

canvas {
    border: 1px black solid;
    /*margin: 0 auto;*/
    display: block;
}

#id-div-content {
    display: flex;
    align-items: flex-start;
}